= title t(".title")

%p= t(".instructions")
%p= t(".mandatory")

= error_messages_for :inquiry

- form_for @inquiry do |f|
  %fieldset
    %legend Vprašalnik
    
    .half.first
      .question= f.label :contact_name
      .answer= f.text_field :contact_name
    
      .question= f.label :industry, Inquiry.human_attribute_name(:industry)
      .answer= f.text_field :industry
    
      .question= f.label :phone, Inquiry.human_attribute_name(:phone)
      .answer= f.text_field :phone
    
      .question= f.label :email, Inquiry.human_attribute_name(:email)
      .answer= f.text_field :email
    .half.second
      .question= f.label :body, Inquiry.human_attribute_name(:body)
      .answer= f.text_area :body
    
  %fieldset
    %legend= t(".captcha")
    = recaptcha_tags
  
  %fieldset.submit
    = f.submit t("forms.submit.send")