= error_messages_for :product
- javascripts "products-form"

%ol#local_lang
  %li.caption Urejanje prevodov:
  %li= link_to_local_lang "Polja za Slovenščino", "sl"
  %li= link_to_local_lang "Polja za Angleščino", "en"
  %li= link_to_local_lang "Polja za Hrvaščino", "hr"
  %li= link_to_local_lang "Polja za Srbščino", "sr"

- form_for [resource.category, resource], :html => {:multipart => true} do |f|

  %fieldset.submit
    = f.submit :Shrani
    %em Shrani vse jezike in se vrne na stran projekta.

  = render :partial => "fields_for_lang", :locals => {:f => f, :l => "sl"}
  = render :partial => "fields_for_lang", :locals => {:f => f, :l => "en"}
  = render :partial => "fields_for_lang", :locals => {:f => f, :l => "hr"}
  = render :partial => "fields_for_lang", :locals => {:f => f, :l => "sr"}
  
  %a{:name => "addons"}
  %fieldset.addons
    %legend Dodatna oprema
    - AddonCategory.all.each do |ac|
      %h3= ac.send("name_sl")
      %ul
        - ac.addons.each do |a|
          %li
            %label
              = a
              = check_box_tag "product[addon_ids][]", a.id, resource.addons.include?(a)
      

  %a{:name => "photos"}
  %fieldset.photos
    %legend Fotografije
    .photo
      - unless resource.photos.empty?
        = f.label "Obstoječe fotografije"
        - resource.photos.each do |photo|
          .image
            = image_tag photo.photo.url(:mini_square)
            = link_to "X", photo, :method => :delete, :confirm => destroy_confirmation(photo)
      - f.fields_for :photos, resource.photos.build do |fp|
        .question= fp.label :photo, "Nova fotografija"
        .answer= fp.file_field :photo, :size => 20

    .photo
      - if resource.system_photo.file?
        = f.label "Obstoječa sistemska fotografija"
        = image_tag resource.system_photo.url(:mini_square)
      .question= f.label :system_photo, "Sistemska fotografija"
      .answer= f.file_field :system_photo, :size => 20

    .photo
      - if resource.technical_photo.file?
        = f.label "Obstoječa skica"
        = image_tag resource.technical_photo.url(:mini_square)
      .question= f.label :technical_photo, "Tehnična skica"
      .answer= f.file_field :technical_photo, :size => 20

    = link_to_top


  %fieldset.submit
    = f.submit :Shrani
    %em Shrani vse jezike in se vrne na stran projekta.
    
