= error_messages_for :product

- form_for [resource.category, resource], :html => {:multipart => true} do |f|
  %fieldset
    %legend Naziv
    = lang_specific_field f, :name, "Naziv"
  
  %fieldset
    %legend Opis
    = lang_specific_field f, :body, "Opis", :text_area
  
  %fieldset
    %legend Fotografije
    - unless resource.photos.empty?
      = f.label "Obstoječe fotografije"
      - resource.photos.each do |photo|
        = image_tag photo.photo.url(:small)
    - f.fields_for :photos, resource.photos.build do |fp|
      .question= fp.label :photo, "Fotografija"
      .answer= fp.file_field :photo
      
  
  %fieldset.submit
    = f.submit :Shrani
    
