= title @product.send("name_#{current_locale}")

.visual= render @product.photos
.body= @product.send("body_#{current_locale}_html")

- admin_section do
  = link_to "Uredi produkt", edit_category_product_path(@product.category, @product)