= title @product.send("name_#{current_locale}")

.visual= render @product.photos

- if pitch = @product.send("pitch_#{current_locale}")
  .pitch= pitch
  
.body= @product.send("body_#{current_locale}_html")

.technical
  %h2= t("products.technical")
  
  - if @product.send("technical_#{current_locale}?") and technical = @product.send("technical_#{current_locale}_html")
    .body= technical
  
  - if @product.technical_photo.file?
    .photo= image_tag @product.technical_photo.url
    
  - if type_table = @product.send("type_table_#{current_locale}")
    %h3= t("products.type_table")
    .type_table= type_table

  - if safety_table = @product.send("safety_table_#{current_locale}")
    %h3= t("products.safety_table")
    .safety_table= safety_table

  - if basic_table = @product.send("basic_table_#{current_locale}")
    %h3= t("products.basic_table")
    .basic_table= basic_table

- if @product.system_photo.file? or @product.send("system_#{current_locale}?")
  %h2= t("products.system")
  .system
    - if @product.system_photo.file?
      .photo= image_tag @product.system_photo.url
    - if system_body = @product.send("system_#{current_locale}_html")
      .body= system_body


- admin_section do
  = link_to "Uredi produkt", edit_category_product_path(@product.category, @product)
  = link_to "Odstrani produkt", [@product.category, @product], :method => :delete, :confirm => destroy_confirmation(@product)