= title @product.send("name_#{current_locale}")

.body= @product.send("body_#{current_locale}_html")

- admin_section do
  = link_to "Uredi produkt", edit_product_path(@product)
  = link_to "Odstrani produkt", @product, :method => :delete, :confirm => destroy_confirmation(@product)